*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100wh;
}

.flex{
    display: flex;
}

div.container{
    flex-direction: row;
}

ul{
    list-style-type: none;
}

/*CUSTOM HEADER*/

header{
    width: 20%;
    background-color: blue;
    line-height: 2rem;
}

header ul>li{
    margin-bottom: .5rem;
}

/*style logo e nav*/

section.logo{
    margin: 1rem;
}

/*style playlist*/

section.playlist{
    margin: 1rem;
    padding-bottom: 10rem;
}

section.playlist input{
    display: inline-block;
    font-size: 1.5rem;
    padding:.3rem .5rem;
    border-radius: 0;
}

section.playlist p{
    display: inline-block;
}

/*style footer header*/

section.footer-header{
    margin: 1rem;
}

/*CUSTOM MAIN*/

main{
    width: 80%;
    background-color: red;
}

/*style button upgrade*/

main section.upgrade{
    margin: 1rem;
    justify-content: flex-end;
  align-items: center;
}

section.upgrade>input{
    padding: .5rem 3rem;
    border-radius: 80px;
}

/*style nav main*/

main section.nav-main{
    margin: 0rem 5rem 1rem;
    padding-top: 1rem;
    justify-content: space-around;
}

section.nav-main ul>li{
    display: inline-block;
    margin-left: 1rem;
}

footer{
    height: 6rem;
    background-color: green;
}

