*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"montserrat";
    font-weight: bold;
    color: white;
}

div.header-main{
    height: calc(155vh - 110px);
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

/*CUSTOM HEADER*/

header{
    width: 250px;
    background-color: hsl(0, 0%, 0%);
    line-height: 1.5rem;
    font-size: .9rem;
}

header ul>li{
    margin-bottom: .5rem;
}

/*style logo e nav*/

section.logo>img{
    height: 40px;
    margin: 1rem;
}

/*style div.nav*/

div.nav{
    margin: 1rem;
    color: hsl(0, 0%, 36.1%);
}

/*style img header nav*/

section.logo div.nav div.img-header{
    flex-direction: column;
    margin-right: .5rem;
}

section.logo div.nav div.img-header>img{
    height: 30px;
    margin-bottom: .8rem;
}

section.logo div.nav div.img-header>img:hover{
    height: 30px;
    margin-bottom: .8rem;
    border-left: solid hsl(81.9, 95.3%, 58.2%);
}
/*style nav*/

section.logo div.nav nav{
    margin-top: .6rem;
}

section.logo div.nav nav ul>li{
    margin-bottom: .8rem;
}

section.logo div.nav nav ul>li:hover{
    color: white;
}

/*style playlist*/

section.playlist{
    margin: 1rem;
    color: hsl(0, 0%, 36.1%);
    padding-bottom: 19.5rem;
}

section.playlist h4{
    margin-bottom: .8rem;
    color: white;
}

section.playlist input{
    display: inline-block;
    font-size: 1.5rem;
    color: black;
    padding:.2rem .5rem;
    border-radius: 0;
    background-color: hsl(0, 0%, 63.9%);
    margin-bottom: 1rem;
}

section.playlist p{
    vertical-align: super;
    display: inline-block;
    margin-left: .5rem;
}

section.playlist p:hover,
section.playlist ul>li:hover{
    color: white;
}

/*style footer header*/

section.footer-header{
    margin:1rem;
}

/*style div.installa*/

section.footer-header div.installa{
    padding-bottom: .8rem;
    margin-bottom: 1rem;
    border-bottom: solid hsl(0, 0%, 36.1%);
}

section.footer-header div.installa>img{
    height: 20px;
    vertical-align: middle;
    filter:grayscale(100%);
}

section.footer-header div.installa>p{
    color: hsl(0, 0%, 36.1%);
    padding-left: 1rem;
    vertical-align: middle;
}

section.footer-header div.installa>p:hover{
    color: white;
}

/*style div.user*/

section.footer-header div.user>img{
    height: 30px;
    vertical-align: middle;
    background-color:hsl(0, 0%, 36.1%) ;
    border-radius: 100%;
    padding: 0rem 0.1rem;
}

section.footer-header div.user>h3{
    padding-left: 1rem;
    vertical-align: middle;
}

/*CUSTOM MAIN*/

main{
    position: relative;
    width: calc(100% - 250px);
    overflow-y: auto;
    background-color: hsl(218.6, 25.9%, 10.6%);
}

main div.scrollbar{
    justify-content: center;
    width: 20px;
    height:170vh;
    background-color: hsl(0, 0%, 97.6%);
}

main div.scrollbar div.scrollbar-small{
    width: 10px;
    height: calc(155vh - 110px);
    background-color:hsl(0, 0%, 78.4%);
    overflow-y: auto;
}

/*style button upgrade*/

main section.upgrade{
    position: fixed;
    z-index: 1;
    width: calc(100% - 250px);
    padding: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    background-color: hsl(222, 38.5%, 5.1%);
    opacity: .5;
}

section.upgrade>input{
    background-color: hsl(222, 38.5%, 5.1%);
    color: white;
    border: solid white;
    padding: .5rem 3rem;
    border-radius: 80px;
}

section.upgrade>input:hover{
    border: solid white;
    color: white;
    font-size: .9rem;
    padding: .5rem 3.5rem;
}

/*style nav main*/

main section.nav-main{
    margin: 6rem 5rem 1rem;
    padding-top: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.nav-main ul>li{
    color: hsl(225, 3.4%, 46.3%);
    display: inline-block;
    margin-left: 1rem;
}

section.nav-main ul>li:hover{
    padding-bottom: .2rem;
    border-bottom: solid hsl(81.9, 95.3%, 58.2%);
    color: white;
}

/*style recent*/

main section.recent{
    padding-bottom: 1rem;
}

main section.recent>h2{
    margin: 1rem;
    padding-bottom: 1rem;
}

section.recent div.music{
    justify-content: space-between;
    margin: 1rem;
}

section.recent div.music article{
    width: calc((100% /6)- 1rem);
    margin-right: 1rem;
    text-align: center;
    line-height: 1.2rem;
  
}

div.music article>img{
    display: inline-block;
    height: 180px;
}

div.music article>img.img-hover{
    display: none;
    height: 180px;
}

div.music article:hover>img{
    display: none;
}

div.music article:hover>img.img-hover{
    display: inline-block;
}

div.music article>h5{
    padding-top: 1rem;
}

div.music article>p{
    color: hsl(0, 0%, 36.1%);
    font-size:x-small;
}

/*style Doe*/

main section.doe{
    padding-bottom: 1rem;
}

main section.doe>h2{
    margin: 1rem 1rem 0rem;
}

main section.doe>p{
    margin-left: 1rem;
    color: hsl(0, 0%, 36.1%);
    font-size:x-small;
    padding-bottom: 1rem;
}

section.doe div.music-doe{
    justify-content: flex-start;
    margin: 1rem;
}

section.doe div.music-doe article{
    width: calc((100% /2)-1);
    margin-right: 1rem;
    text-align: center;
    line-height: 1.2rem;
}

div.music-doe article>img{
    display: inline-block;
    height: 180px;
}

div.music-doe article>img.img-hover{
    display: none;
    height: 180px;
}

div.music-doe article:hover>img{
    display: none;
}

div.music-doe article:hover>img.img-hover{
    display: inline-block;
}

div.music-doe article>h5{
    padding-top: 1rem;
}

/*style popular*/

main section.popular{
    padding-bottom: 1rem;
}

main section.popular>h2{
    margin: 1rem 1rem 0rem;
}

main section.popular>p{
     margin-left: 1rem;
     color: hsl(0, 0%, 36.1%);
     font-size:x-small;
     padding-bottom: 2rem;
    }

section.popular div.music-popular{
    justify-content: flex-start;
    margin: 1rem;
}

section.popular div.music-popular article{
    width: calc((100% /2)-1);
    margin-right: 1rem;
    text-align: center;
    line-height: 1.2rem;
}

div.music-popular article>img{
    display: inline-block;
    border-radius: 100%;
    height: 180px;
}

div.music-popular article>img.img-hover{
    display: none;
    border-radius: 100%;
    height: 180px;
}

div.music-popular article:hover>img{
    display: none;
}

div.music-popular article:hover>img.img-hover{
    display: inline-block;
}

div.music-popular article>h5{
    padding-top: 1rem;
}

/*CUSTOM FOOTER*/

footer{
    height: 110px;
    background-color: hsl(0, 0%, 15.7%);
  
}

footer section.toolbar{
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/*style div.brano*/

section.toolbar div.brano>img{
    height: 75px;
}

section.toolbar div.brano>p{
    color: hsl(0, 0%, 36.1%);
    font-size: 1rem;
    padding: 2rem 0rem 0rem 1rem;
}

section.toolbar div.brano>p:hover{
    color: white;
}

/*style titolo brano*/

section.toolbar div.brano div.titolo-brano{
    padding-right: 2rem;
    padding-left: .5rem;
    font-size: 1rem;
    margin: 1rem .5rem;
}

div.brano div.titolo-brano>p{
    color: hsl(0, 0%, 36.1%);
    font-size:x-small;
}

div.brano div.titolo-brano>p:hover{
    border-bottom: solid white;
    color: white;
}

/*style div.play*/

section.toolbar div.play{
    flex-direction: column; 
    align-items: center;
}

div.play section.command>i{
    padding:.8rem;
    font-size: 1.5rem;
}

/*style barra*/

div.play section.barra>p{
    font-size: .8rem;
}

div.play section.barra div.barra-large{
    height: 6px;
    width: 500px;
    border-radius: 22%;
    background-color:  hsl(0, 0%, 36.1%);
    margin: .3rem 1rem 0rem;
}

div.play section.barra div.barra-small{
    height: 6px;
    width: 100px;
    border-radius: 15%;
    background-color: hsl(0, 0%, 76.1%);
}

/*style div.struments*/

div.struments div.command>i{
    font-size: 1rem;
    padding: 1.8rem .8rem;
}

/*style barra*/

div.struments  div.barra-large{
    height: 6px;
    width: 150px;
    border-radius: 13%;
    background-color:  hsl(0, 0%, 36.1%);
    margin: 2rem .5rem;
}

div.struments  div.barra-small{
    height: 6px;
    width: 30px;
    border-radius: 5%;
    background-color: hsl(0, 0%, 76.1%);
}


/*RESPONSIVE*/

@media screen and (max-width:768px) {
    div.container{
        width: 650px;
    }
    
}
